.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 18px;
  background: radial-gradient(circle, green, rgb(11, 58, 11));
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  border-style: outset;
  border-color: #0b5192;
  height: 30px;
  font-family: "Avenir";
  cursor: pointer;
}
