.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  background: rgba(3, 104, 28, 0.7);
  box-shadow: 0 4px 10px rgba(185, 235, 207, 0.9);
  border-style: none;
  height: 30px;
  font-family: "Avenir";
  cursor: pointer;
}
